@font-face
{
   font-family: minecraft;
   src: url(Minecraftia.ttf);
}
BODY {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    background-image: url(img/background.png);             
    background-size: auto 2000px;
    background-position: center;
    font-family: minecraft;
}

.container.container-left{
   -webkit-transform: rotateY(-90deg) rotateX(0deg);                
   transform: rotateY(-90deg) rotateX(0deg);                
}
.container.container-right{
   -webkit-transform: rotateY(90deg) rotateX(0deg);             
   transform: rotateY(90deg) rotateX(0deg);             
}
.container.container-front{
   -webkit-transform: rotateY(0deg) rotateX(0deg);
   transform: rotateY(0deg) rotateX(0deg);
}
.container.container-back{
   -webkit-transform: rotateY(180deg) rotateX(0deg);
   transform: rotateY(180deg) rotateX(0deg);
}
.container.container-top{
   -webkit-transform:  rotateX(-30deg) rotateY(-45deg) rotateZ(0deg); 
   transform:  rotateX(-30deg) rotateY(-45deg) rotateZ(0deg); 
}
.container.container-bottom{
   -webkit-transform:  rotateX(90deg) rotateX(0deg);
   transform:  rotateX(90deg) rotateX(0deg);
}

.container{
   -webkit-transform-style: preserve-3d;   
   transform-style: preserve-3d;   
   transform-style: preserve-3d;   
   margin: 200px auto;
   width: 512px;
   height: 512px;  
   -webkit-transition: -webkit-transform 1s;
  -webkit-transform: rotateX(-30deg) rotateY(-45deg) rotateZ(0deg);                
  transition: transform 1s;
  transform: rotateX(-30deg) rotateY(-45deg) rotateZ(0deg); 
}

.rotate{
   -webkit-transform: rotateX(90deg) translateZ(-5em);     
   transform: rotateX(90deg) translateZ(-5em);     
}
.side{
   width: 512px;
   height: 512px;
   border: 0px solid red;
   position: absolute;
   background-color: rgba(150,150,160,1);
   background-image: url(img/side.png);               
}
.add{
   width: 33px;               
   position: absolute;
   background-color: rgba(100,200,50,1);
   background-image: url(img/top.png);                

}
.add-left{
   width: 32px;               
   position: absolute;
   background-color: rgba(100,200,50,1);
   background-image: url(img/top.png);


}
.add-right{
   width: 32px;               
   position: absolute;
   background-color: rgba(100,200,50,1);
   background-image: url(img/top.png);

}
.add-down{
   width: 32px;               
   height: 32px;
   position: absolute;
   background-color: rgba(100,200,50,1);
   background-image: url(img/top.png);

}

.change-button{
   cursor: pointer;
}

.front{
   -webkit-transform: translateZ(256px);
   transform: translateZ(256px);
   -webkit-transform-style: preserve-3d;  
   transform-style: preserve-3d;  
}
.left{
   -webkit-transform: rotateY(-90deg) translateZ(256px);
   transform: rotateY(-90deg) translateZ(256px);
   -webkit-transform-style: preserve-3d;  
   transform-style: preserve-3d;  
}
.right{
   -webkit-transform: rotateY(90deg) translateZ(256px);
   transform: rotateY(90deg) translateZ(256px);
   -webkit-transform-style: preserve-3d;  
   transform-style: preserve-3d;  
}
.back{
   -webkit-transform: rotateY(180deg) translateZ(256px);
   transform: rotateY(180deg) translateZ(256px); 
   -webkit-transform-style: preserve-3d;  
   transform-style: preserve-3d;  
}
.top{
   -webkit-transform: rotateX(90deg) translateZ(288px) translateX(-32px);
   transform: rotateX(90deg) translateZ(288px) translateX(-32px);
   width: 576px;
   height:576px;
   background-color: rgb(0,200,100);
   background-image: url(img/top.png);
   -webkit-transform-style: preserve-3d;  
   transform-style: preserve-3d;  
}
.bottom{
   -webkit-transform: rotateX(-90deg) translateZ(256px);
   transform: rotateX(90deg) translateZ(-256px);
}
.front-1{
   -webkit-transform: translateZ(32px) translateX(-32px);                
   transform: translateZ(32px) translateX(-32px);                
   height: 96px;
}
.front-1-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(-32px) translateZ(-80px);                
   transform:rotateX(90deg) translateY(16px) translateX(-32px) translateZ(-80px);                
}
.front-1-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(-48px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(-48px);        
   height: 96px;
}
.front-1-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(-16px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(-16px);        
   height: 96px;                
}
.front-2{
   -webkit-transform: translateZ(32px) translateX(0px);                
   transform: translateZ(32px) translateX(0px);                
   height: 64px;
}
.front-2-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(0px) translateZ(-48px);                
   transform:rotateX(90deg) translateY(16px) translateX(0px) translateZ(-48px);                
}

.front-3{
   -webkit-transform: translateZ(32px) translateX(32px);                
   transform: translateZ(32px) translateX(32px);                
   height: 96px;
}
.front-3-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(32px) translateZ(-80px);                
   transform:rotateX(90deg) translateY(16px) translateX(32px) translateZ(-80px);                
}
.front-3-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(16px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(16px);        
   height: 96px;
}

.front-4{
   -webkit-transform: translateZ(32px) translateX(64px);                
   transform: translateZ(32px) translateX(64px);                
   height: 96px;
}
.front-4-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(64px) translateZ(-80px);                
   transform:rotateX(90deg) translateY(16px) translateX(64px) translateZ(-80px);                
}

.front-5{
   -webkit-transform: translateZ(32px) translateX(96px);                
   transform: translateZ(32px) translateX(96px);                
   height: 128px;
}
.front-5-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(96px) translateZ(-112px);                
   transform:rotateX(90deg) translateY(16px) translateX(96px) translateZ(-112px);                
}
.front-5-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(80px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(80px);        
   height: 128px;
}
.front-5-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(112px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(112px);        
   height: 128px;                
}

.front-6{
   -webkit-transform: translateZ(32px) translateX(128px);                
   transform: translateZ(32px) translateX(128px);                
   height: 32px;
}
.front-6-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(128px) translateZ(-16px);                
   transform:rotateX(90deg) translateY(16px) translateX(128px) translateZ(-16px);                
}

.front-7{
   -webkit-transform: translateZ(32px) translateX(160px);                
   transform: translateZ(32px) translateX(160px);                
   height: 96px;
}
.front-7-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(160px) translateZ(-80px);                
   transform:rotateX(90deg) translateY(16px) translateX(160px) translateZ(-80px);                
}
.front-7-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(144px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(144px);        
   height: 96px;
}
.front-7-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(176px);        
    transform:rotateY(90deg) translateX(-16px) translateZ(176px);        
   height: 96px;                
}

.front-8{
   -webkit-transform: translateZ(32px) translateX(192px);                
   transform: translateZ(32px) translateX(192px);                
   height: 64px;
}
.front-8-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(192px) translateZ(-48px);                
   transform:rotateX(90deg) translateY(16px) translateX(192px) translateZ(-48px);                
}

.front-9{
   -webkit-transform: translateZ(32px) translateX(224px);                
   transform: translateZ(32px) translateX(224px);                
   height: 128px;
}
.front-9-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(224px) translateZ(-112px);                
   transform:rotateX(90deg) translateY(16px) translateX(224px) translateZ(-112px);                
}
.front-9-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(208px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(208px);        
   height: 128px;
}
.front-9-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(240px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(240px);        
   height: 128px;                
}

.front-10{
   -webkit-transform: translateZ(32px) translateX(256px);                
   transform: translateZ(32px) translateX(256px);                
   height: 96px;
}
.front-10-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(256px) translateZ(-80px);         
   transform:rotateX(90deg) translateY(16px) translateX(256px) translateZ(-80px);         
}

.front-11{
   -webkit-transform: translateZ(32px) translateX(288px);                
   transform: translateZ(32px) translateX(288px);                
   height: 128px;
}
.front-11-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(288px) translateZ(-112px);                
   transform:rotateX(90deg) translateY(16px) translateX(288px) translateZ(-112px);                
}
.front-11-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(272px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(272px);        
   height: 128px;
}
.front-11-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(304px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(304px);        
   height: 128px;                
}

.front-12{
   -webkit-transform: translateZ(32px) translateX(320px);                
   transform: translateZ(32px) translateX(320px);                
   height: 96px;
}
.front-12-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(320px) translateZ(-80px);         
   transform:rotateX(90deg) translateY(16px) translateX(320px) translateZ(-80px);         
}
.front-12-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(336px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(336px);        
   height: 96px;
}

.front-13{
   -webkit-transform: translateZ(32px) translateX(352px);                
   transform: translateZ(32px) translateX(352px);                
   height: 64px;
}
.front-13-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(352px) translateZ(-48px);         
   transform:rotateX(90deg) translateY(16px) translateX(352px) translateZ(-48px);         
}

.front-14{
   -webkit-transform: translateZ(32px) translateX(384px);                
   transform: translateZ(32px) translateX(384px);                
   height: 96px;
}
.front-14-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(384px) translateZ(-80px);         
   transform:rotateX(90deg) translateY(16px) translateX(384px) translateZ(-80px);         
}
.front-14-2{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(368px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(368px);        
   height: 96px;
}

.front-15{
   -webkit-transform: translateZ(32px) translateX(416px);                
   transform: translateZ(32px) translateX(416px);                
   height: 96px;
}
.front-15-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(416px) translateZ(-80px);         
   transform:rotateX(90deg) translateY(16px) translateX(416px) translateZ(-80px);         
}
.front-15-3{
   -webkit-transform:rotateY(90deg) translateX(-16px) translateZ(432px);        
   transform:rotateY(90deg) translateX(-16px) translateZ(432px);        
   height: 96px;
}

.front-16{
   -webkit-transform: translateZ(32px) translateX(448px);                
   transform: translateZ(32px) translateX(448px);                
   height: 64px;
}
.front-16-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(448px) translateZ(-48px);         
   transform:rotateX(90deg) translateY(16px) translateX(448px) translateZ(-48px);         
}

.front-17{
   -webkit-transform: translateZ(32px) translateX(480px);                
   transform: translateZ(32px) translateX(480px);                
   height: 64px;
}
.front-17-1{
   -webkit-transform:rotateX(90deg) translateY(16px) translateX(480px) translateZ(-48px);         
   transform:rotateX(90deg) translateY(16px) translateX(480px) translateZ(-48px);         
}           


.side-content{
   margin: 150px auto;
   margin-bottom: 0px;
   width: 480px;
   color:white;
   font-size: 16pt;
   font-weight: bold;
}

.figure-1{
   width: 16px;          
   height: 32px;
   position: absolute;

   -webkit-transform:translateY(500px) translateX(500px) translateZ(85px) rotateZ(55deg);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(500px) translateX(500px) translateZ(85px) rotateZ(55deg);
   transform-style: preserve-3d;  
}




.figure-2{
   width: 16px;          
   height: 32px;
   position: absolute;

   -webkit-transform:translateY(419px) translateX(560px) translateZ(41px) rotateZ(40deg);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(419px) translateX(560px) translateZ(41px) rotateZ(40deg);
   transform-style: preserve-3d;  



}

.figure-1 div{
   /*opacity: 0.5;
   border:1px solid black;*/
}
.center{
    width: 16px;          
   height: 32px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(0px) translateZ(16px);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(0px) translateX(0px) translateZ(16px);
   transform-style: preserve-3d;  
}
.center-bottom{
   width: 16px;          
   height: 32px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(0px) translateZ(-48px);                
   transform:translateY(0px) translateX(0px) translateZ(-48px);                
}            
.center-front{
   width: 32px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) translateY(-24px) translateX(-8px);                
   transform:rotateZ(90deg) rotateX(90deg) translateY(-24px) translateX(-8px);                
}
.center-back{
   width: 32px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) translateY(-24px) translateX(-8px) translateZ(-16px);                
   transform:rotateZ(90deg) rotateX(90deg) translateY(-24px) translateX(-8px) translateZ(-16px);                
}
.center-left{
   width: 16px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-24px) translateZ(8px);                
   transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-24px) translateZ(8px);                
}
.center-right{
   width: 16px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-24px) translateZ(-24px);                
   transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-24px) translateZ(-24px);                
}

.head{
    width: 32px;          
   height: 32px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(-8px) translateZ(48px) rotateZ(-10deg) rotateY(-10deg);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(0px) translateX(-8px) translateZ(48px) rotateZ(-10deg) rotateY(-10deg);
   transform-style: preserve-3d;  
}
.head-bottom{
   width: 32px;          
   height: 32px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(0px) translateZ(-32px);                
   transform:translateY(0px) translateX(0px) translateZ(-32px);                
}            
.head-front{
   width: 32px;          
   height:32px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(0px) translateZ(16px);                
   transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(0px) translateZ(16px);                
}
.head-back{
   width: 32px;          
   height: 32px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(0px) translateZ(-16px);                
   transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(0px) translateZ(-16px);                
}
.head-left{
   width: 32px;          
   height: 32px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(16px);                
   transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(16px);                
}
.head-right{
   width: 32px;          
   height: 32px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(-16px);                
   transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(-16px);                
}


.right-leg{
   width: 16px;          
   height: 16px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(0px) translateZ(-40px);
   -webkit-transform-style: preserve-3d; 
   transform:translateY(0px) translateX(0px) translateZ(-40px);
   transform-style: preserve-3d; 
}
.left-leg{
   width: 16px;          
   height: 16px;
   position: absolute;

   -webkit-transform:translateY(16px) translateX(0px) translateZ(-40px) rotateY(0deg);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(16px) translateX(0px) translateZ(-40px) rotateY(0deg);
   transform-style: preserve-3d;  
}

@-webkit-keyframes right-hand
{
0%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(0deg)  rotateX(0deg);}
10%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
15%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
25%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
30%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
34%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
40%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
45%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
50%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
55%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
60%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
70%    {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(0deg)  rotateX(0deg);}
100%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(0deg)  rotateX(0deg);}
}

@keyframes right-hand
{
0%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(0deg)  rotateX(0deg);}
10%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
15%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
25%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
30%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
34%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
40%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
45%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
50%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
55%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-30deg);}
60%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(-160deg)  rotateX(-10deg);}
70%    {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(0deg)  rotateX(0deg);}
100%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(0deg)  rotateX(0deg);}
}

.right-hand{
   width: 16px;          
   height: 16px;
   position: absolute;

   -webkit-transform:translateY(-16px) translateX(0px) translateZ(8px);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(-16px) translateX(0px) translateZ(8px);
   transform-style: preserve-3d;  
}
.left-hand{
   width: 16px;          
   height: 16px;
   position: absolute;

   -webkit-transform:translateY(32px) translateX(0px) translateZ(8px) rotateY(0deg);
   -webkit-transform-style: preserve-3d;  
   transform:translateY(32px) translateX(0px) translateZ(8px) rotateY(0deg);
   transform-style: preserve-3d;  
}

.leg-bottom{
   width: 16px;          
   height: 16px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(0px) translateZ(-40px); 
   transform:translateY(0px) translateX(0px) translateZ(-40px); 
}            
.leg-top{
   width: 16px;          
   height: 16px;
   position: absolute;

   -webkit-transform:translateY(0px) translateX(0px) translateZ(8px);                
   transform:translateY(0px) translateX(0px) translateZ(8px);                
}            
.leg-front{
   width: 16px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(-16px) translateZ(8px);                
   transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(-16px) translateZ(8px);                
}
.leg-back{
   width: 16px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(-16px) translateZ(-8px);                
   transform:rotateZ(90deg) rotateX(90deg) translateY(-16px) translateX(-16px) translateZ(-8px);                
}
.leg-left{
   width: 16px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(-8px);                
   transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(-8px);                
}
.leg-right{
   width: 16px;          
   height: 48px;
   position: absolute;

   -webkit-transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(-24px);                
   transform:rotateZ(90deg) rotateX(90deg) rotateY(90deg) translateY(-16px) translateZ(-24px);                
}

.figure-1 .left-leg div{
   background-image: url(img/doctor/leg.png);
}
.figure-1 .left-leg{
   background-image: url(img/doctor/leg.png);
}
.figure-1 .right-leg div{
   background-image: url(img/doctor/leg.png);
}
.figure-1 .right-leg{
   background-image: url(img/doctor/leg.png);
}

.figure-1 .left-hand div{
   background-image: url(img/doctor/hand.png);
}
.figure-1 .left-hand {
   background-image: url(img/doctor/hand-bottom.png);
}
.figure-1 .left-hand .leg-bottom {
   background-image: url(img/doctor/hand-top.png);
}
.figure-1 .left-hand .leg-top {
   background-image: url(img/doctor/hand-bottom.png);
}
.figure-1 .right-hand div{
   background-image: url(img/doctor/hand.png);
}
.figure-1 .right-hand {
   background-image: url(img/doctor/hand-bottom.png);
}
.figure-1 .right-hand .leg-bottom {
   background-image: url(img/doctor/hand-top.png);
}
.figure-1 .right-hand .leg-top {
   background-image: url(img/doctor/hand-bottom.png);
}
.figure-1 .center{
   background-image: url(img/doctor/center-left.png);
}
.figure-1 .center div{
   background-image: url(img/doctor/center-left.png);
}
.figure-1 .center .center-front{
   background-image: url(img/doctor/center-front.png);
}   
.figure-1 .head{
   background-image: url(img/doctor/head-top.png);
}
.figure-1 .head-front{
   background-image: url(img/doctor/head-front.png);
}
.figure-1 .head-left{
   background-image: url(img/doctor/head-left.png);
}
.figure-1 .head-right{
   background-image: url(img/doctor/head-left.png);
}
.figure-1 .head-back{
   background-image: url(img/doctor/head-top.png);
}
.figure-1 .head-bottom{
   background-image: url(img/doctor/head-bottom.png);
}
.figure-1 .right-hand{          
   -webkit-animation: right-hand 5s;
   -webkit-animation-delay: 2s;
   -webkit-animation-iteration-count: infinite;
   animation: right-hand 5s;
   animation-delay: 2s;
   animation-iteration-count: infinite;
}



@-webkit-keyframes f2-right-hand
{
   0%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-109deg)}
   50%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-80deg)}
   100%   {-webkit-transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-109deg)}
}
@-webkit-keyframes f2-left-hand
{
   0%   { -webkit-transform:translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(30deg);}
   50%   { -webkit-transform:translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(50deg);}
   100%   {-webkit-transform: translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(30deg);}
}
@-webkit-keyframes f2-right-leg
{
   0%   {-webkit-transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(-30deg);}
   50%   {-webkit-transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(30deg);}
   100%   {-webkit-transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(-30deg);}                
}
@-webkit-keyframes f2-left-leg
{
   0%   {-webkit-transform: translateY(16px) translateX(0px) translateZ(-40px) rotateY(30deg);}
   50%   {-webkit-transform: translateY(16px) translateX(0px) translateZ(-40px) rotateY(-30deg);}
   100%   {-webkit-transform: translateY(16px) translateX(0px) translateZ(-40px) rotateY(30deg);}
}

@keyframes f2-right-hand
{
   0%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-109deg)}
   50%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-80deg)}
   100%   {transform:translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-109deg)}
}
@keyframes f2-left-hand
{
   0%   { transform:translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(30deg);}
   50%   { transform:translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(50deg);}
   100%   {transform: translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(30deg);}
}
@keyframes f2-right-leg
{
   0%   {transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(-30deg);}
   50%   {transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(30deg);}
   100%   {transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(-30deg);}                
}
@keyframes f2-left-leg
{
   0%   {transform: translateY(16px) translateX(0px) translateZ(-40px) rotateY(30deg);}
   50%   {transform: translateY(16px) translateX(0px) translateZ(-40px) rotateY(-30deg);}
   100%   {transform: translateY(16px) translateX(0px) translateZ(-40px) rotateY(30deg);}
}

.figure-2 .left-leg div{
   background-image: url(img/bo/leg.png);               
}
.figure-2 .left-leg{
   background-image: url(img/bo/leg-top.png);
   -webkit-transform: translateY(16px) translateX(0px) translateZ(-37px) rotateY(-93deg);
   transform: translateY(16px) translateX(0px) translateZ(-37px) rotateY(-93deg);

}
.figure-2 .right-leg div{
   background-image: url(img/bo/leg.png);
}
.figure-2 .right-leg{
   background-image: url(img/doctor/leg-top.png);
   -webkit-transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(-87deg);
   transform: translateY(0px) translateX(0px) translateZ(-40px) rotateY(-87deg);

}

.figure-2 .left-hand div{
   background-image: url(img/bo/hand.png);
}
.figure-2 .left-hand {                
   -webkit-transform: translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(30deg);

   -webkit-animation: f2-left-hand 0.5s;
   -webkit-animation-delay: 0.2s;
   -webkit-animation-iteration-count: infinite;
   
    transform: translateY(32px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(30deg);

   animation: f2-left-hand 0.5s;
   animation-delay: 0.2s;
   animation-iteration-count: infinite;


}
.figure-2 .left-hand .leg-bottom {
   background-image: url(img/bo/hand-top.png);
}
.figure-2 .right-hand div{
   background-image: url(img/bo/hand.png);
}
.figure-2 .leg-top{
   background-image: url(img/bo/leg-top.png);
}
.figure-2 .right-hand {
   background-image: url(img/bo/hand-bottom.png);

   -webkit-transform: translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-189deg);
   transform: translateY(-16px) translateX(0px) translateZ(8px) rotateY(188deg) rotateX(-189deg);
   
}
.figure-2 .right-hand .leg-bottom {
   background-image: url(img/bo/hand-top.png);
}
.figure-2 .center{
   background-image: url(img/bo/center-left.png);
}
.figure-2 .center div{
   background-image: url(img/bo/center-left.png);
}
.figure-2 .center .center-front{
   background-image: url(img/bo/center-front.png);
}   
.figure-2 .head{
   background-image: url(img/bo/head-top.png);
   -webkit-transform: translateY(0px) translateX(-8px) translateZ(48px) rotateZ(16deg) rotateY(-20deg);
   transform: translateY(0px) translateX(-8px) translateZ(48px) rotateZ(16deg) rotateY(-20deg);
}
.figure-2 .head-front{
   background-image: url(img/bo/head-front.png);
}
.figure-2 .head-left{
   background-image: url(img/bo/head-left.png);
}
.figure-2 .head-right{
   background-image: url(img/bo/head-left.png);
}
.figure-2 .head-back{
   background-image: url(img/bo/head-top.png);
}
.figure-2 .head-bottom{
   background-image: url(img/bo/head-bottom.png);
}

.menu{
    position: absolute;
    bottom:10px;    
}

.menu-item{
    display: inline-block;
    width: 90px;
    height: 90px;
    font-size: 12pt;
    text-align: center;
    background-color: rgba(100,70,0,0.8);
    border: 10px solid rgb(100,70,0);     
    -webkit-transition: background-color 1s;   
    transition: background-color 1s;   
}
.menu-item:hover{
    background-color: rgba(150,90,0,0.8);    
}
.menu-item .in{
    padding-top: 25px;
}