<script>
  function install(){    
	var request = navigator.mozApps.install("http://komarivskyi.com/firefoxos/example.webapp");
	request.onsuccess = function() {
	  alert('Install ok!');
	}
	request.onerror = function(e) {
	  alert('Install err!');
	  console.log(e);
}
  }
</script>
<div style="cursor:pointer; font-size:34pt; border-radius:15px; background-color:yellow; text-aling:center; width:300px;" onclick="install()">Install app</div>