a{
    text-decoration: none;
    color:rgb(150,0,0);
}
body{top: 0;}
.cnv{
    border:0px solid #000000;    
    position: absolute;
    bottom: 0px;
}



.score{ 
    float:left;
    width : 110px;
   
    font-size: 20pt;
    
}
#score1{ 
    right:5px;     
    font-size: 8pt;
    padding:5px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: rgb(255, 133, 0);
    position: absolute;
}
.menu{ 
    position:absolute;
    top:250px;
    left:220px;
    float:left;
    width : 200px;    
    font-size: 12pt;
    
}

#info{
  position: absolute;
  text-align: center;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  top: 45%;
  font-size: 30px;
  display:none;
}
  #center {
	top: 50%; /* Отступ в процентах от верхнего края окна */
	left: 50%; /* Отступ в процентах от левого края окна */
	width: 640px; /* Ширина блока */
	height: 550px; /* Высота блока */
	position: absolute; /* Абсолютное позиционирование блока */
	margin-top: -270px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
	margin-left: -330px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}
body{   
    background-color: rgb(100,100,100);
   background: linear-gradient(to right, rgba(99, 36, 0, 1) 0%,rgba(146, 79, 0, 1) 50%,rgba(99, 36, 0,1) 100%);
   font-family: monospace;
   font-weight: bold;
   margin:0;   
}
.mainContainer{
    margin: 0 auto;
   
    text-align: center;
}
.logo{
    font-size: 35pt;    
    color:rgb(255, 245, 0);
    font-weight: bold;
    margin: 50px 0 10px 0;
}
.mainMenu{
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.button{
    
     color:rgb(255, 133, 0);
    font-size: 18pt;
    padding: 10px;
    margin: 10px 0 10px 0;

    text-transform: uppercase;
    
    padding: 13px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    cursor:pointer;
      
    
}
.button#continue{
    display: none;
}

.statistics{
    color:rgb(255, 133, 0);
    font-size: 8pt;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width:95%;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0px 0px 15px 15px;
    cursor:pointer;
}
.statistics div{
    display: inline-block;
    margin: 0 2px;
}
.statistics div.label{
    white-space:nowrap;
}


.topPanel{
    position: absolute;  
    width: 100%;
    z-index: 10;
    top:0;
  /*  background: linear-gradient(to right,rgba(140,0,0,0.5) 70%,rgba(255,255,255,0) 100%);*/
}
.top-button{       
    font-size: 16pt;
    text-transform: uppercase;
    margin: 0px 5px 10px 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0px 0px 15px 15px;
    cursor:pointer;
    display: inline-block;    
}
.top-button .text{
   color:rgb(255, 133, 0);
    margin: 5px;
    padding: 5px;
}
.top-button.back{
    margin: 0px 5px 5px 0;
    border-radius: 0px 0px 15px 0px;
    
}
.top-button#start{
    
    text-align: center;
}
.top-button a{color:rgb(255, 133, 0);}
.topPanel #nxtF1{   
    right: 0px;
    border: 1px solid rgba(255,133,0,0.5);
    top:-1px;
    margin-right: 5px;
    border-radius: 0px 0px 7px 7px;
}
#cnv{
    margin: 0 auto;
}

.settings{
   text-align: left;
   width: 90%;
   margin: 0 auto;
    
}
.settings .item{
    color:rgb(255, 133, 0);
    font-size: 18pt;
    padding: 10px;
    margin: 10px 0 10px 0;

    text-transform: uppercase;
    
    padding: 13px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;    
}
.settings .item .label{
    vertical-align: middle;
    display: inline-block;
}
.checkbox{
    border:5px solid rgb(255,133,0);
    border-radius: 10em;
    display:inline-block;
    padding:15px;
    vertical-align: middle;
    margin:5px 0;
}
.checkbox.selected{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,157,0,0.65) 27%, rgba(0,0,0,0) 69%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,rgba(255,157,0,0.65)), color-stop(69%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,157,0,0.65) 27%,rgba(0,0,0,0) 69%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,157,0,0.65) 27%,rgba(0,0,0,0) 69%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,157,0,0.65) 27%,rgba(0,0,0,0) 69%);
    background: radial-gradient(ellipse at center,  rgba(255,157,0,0.65) 27%,rgba(0,0,0,0) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ff9d00', endColorstr='#00000000',GradientType=1 );
}

.instruction{
    text-align: center;
    margin-top: 10px;
}
.instruction img{
    width:50%;
    border: 0px solid rgb(255, 133, 0);
    box-shadow: 0 0 5px 5px rgb(255, 133, 0);
}