a{
    text-decoration: none;
    color:rgb(150,0,0);
}
.cnv{
    border:1px solid #000000;      
}
.image{ 
    float:left;
    width : 210px;
}
.score{ 
    float:left;
    width : 110px;
    align:center;
    font-size: 20pt;
    
}
.menu{ 
    position:absolute;
    top:250px;
    left:220px;
    float:left;
    width : 200px;
    align:center;
    font-size: 12pt;
    
}

#info{
  position: absolute;
  text-align: center;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  top: 45%;
  font-size: 30px;
  display:none;
}
  #center {
	top: 50%; /* Отступ в процентах от верхнего края окна */
	left: 50%; /* Отступ в процентах от левого края окна */
	width: 640px; /* Ширина блока */
	height: 550px; /* Высота блока */
	position: absolute; /* Абсолютное позиционирование блока */
	margin-top: -270px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
	margin-left: -330px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}
body{   
   background: linear-gradient(to right, rgba(255,220,200,1) 0%,rgba(255,170,70,1) 50%,rgba(255,220,200,1) 100%);
   font-family: monospace;
   font-weight: bold;
   margin:0;   
}
.mainContainer{
    margin: 0 auto;
   
    text-align: center;
}
.logo{
    font-size: 35pt;    
    color:rgb(150,0,0);
    font-weight: bold;
    margin: 40px 0 40px 0;
}
.mainMenu{
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.button{
    background-color: rgba(255,100,50,0.3);
    border:4px solid rgb(150,0,0);
    border-radius: 5px;
    font-size: 20pt;
    padding: 10px;
    margin: 10px 0 10px 0;
    
}
.topPanel{
    float: left;
    width:70px;
    background: linear-gradient(to bottom,rgba(140,0,0,0.5) 70%,rgba(255,255,255,0) 100%);
}
.top-button{       
    font-size: 16pt;
    text-transform: uppercase;
    margin: 15px 5px 10px 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0px 15px 15px 0px;
    cursor:pointer;
}
.top-button .text{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    margin: 5px;
    padding: 5px;
}
.top-button.back{
    margin: 0px 5px 5px 0;
    border-radius: 0px 0px 15px 0px;
    height: 60px;
}
.top-button#start{
    height: 80px;
    text-align: center;
}
.top-button a{color:black;}
.topPanel #nxtF1{
    
    margin-right: 5px;
    border-radius: 0px 0px 3px 3px;
}